.form-upload {
  cursor: pointer;
  position: relative;
  height: 100%;
  background-color: #fafafa;
  border: 2px dashed #dddddd;
  border-radius: 10px;
}
.form-upload input{
  position: absolute;
  cursor: pointer;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
}
.form-upload:hover {
  background-color: #eee;
}
.caption-upload {
  margin-top: 7%;
  margin-bottom: 7%;
}